

snippet anon
(${0}) => { $2 }$0
endsnippet


snippet flo
// @flow
endsnippet

snippet clog
console.log(${0})
endsnippet

snippet test
test("$1", () => {
  $2
});
endsnippet

snippet exp
expect($1).toBe($2);
endsnippet

snippet set
Set<T>
endsnippet
